.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #e5e5e5;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	z-index: 50;
	display: flex;

	justify-content: center;
	align-items: center;
}

.header input {
	position: absolute;
	right: 20px;
	padding: 6px 8px;
	background-color: orange;
	color: #3e3e3e;
	font-size: 18px;
	border: 1px solid #6e6e6e;
	border-radius: 4px;
	cursor: pointer;
}
