.configurator {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.configurator .buttons {
  display: flex;
}

.configurator input[type="button"] {
  padding: 4px 8px;
  color: blue;
  border-width: 0;
  background-color: transparent;
  margin: 3px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.configurator input[active="true"] {
  background-color: blue;
  color: #e5e5e5;
}

.configurator input[disabled] {
  color: #6e6e6e;
}

.configurator .buttons input[type="button"] {
  font-size: 16px;
  background-color: orange;
  color: #3e3e3e;
  flex-grow: 1;
}

.configurator .buttons input[type="button"]:disabled {
  background-color: #999;
}

.configurator .playa {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.configurator .export {
  position: absolute;
  right: 20px;
  width: calc(100% - 40px);
  padding: 6px 12px;
  background-color: orange;
  color: #3e3e3e;
  font-size: 18px;
  border-width: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
  bottom: 10px;
  display: inline-block;
}

@media (max-width: 600px) {
  .configurator .playa {
    position: relative;
    margin-top: 20px;
  }
}
